# 教程链接
https://www.pypandas.cn/document/10min.html

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20310101',periods=6)
dates

DatetimeIndex(['2031-01-01', '2031-01-02', '2031-01-03', '2031-01-04',
               '2031-01-05', '2031-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2031-01-01  0.162226  0.071008 -0.868200  0.191746
2031-01-02  0.595785  0.891839  1.882152 -0.622370
2031-01-03 -0.683741  1.437541 -0.797711 -0.034379
2031-01-04  0.767239 -1.349358 -0.925965 -0.384152
2031-01-05 -0.825114 -0.852004  0.265521  0.633665
2031-01-06 -0.036639  0.105031 -1.365430 -0.026106

In [6]:
df2 = pd.DataFrame({
    'A':1.,
    "B": pd.Timestamp('20130102'),
    "C": pd.Series(1,index=list(range(4)),dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(['test','train','test','train']),
    'F': 'foo'})

In [7]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [8]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [9]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [10]:
df

                   A         B         C         D
2031-01-01  0.162226  0.071008 -0.868200  0.191746
2031-01-02  0.595785  0.891839  1.882152 -0.622370
2031-01-03 -0.683741  1.437541 -0.797711 -0.034379
2031-01-04  0.767239 -1.349358 -0.925965 -0.384152
2031-01-05 -0.825114 -0.852004  0.265521  0.633665
2031-01-06 -0.036639  0.105031 -1.365430 -0.026106

In [11]:
df.head()

                   A         B         C         D
2031-01-01  0.162226  0.071008 -0.868200  0.191746
2031-01-02  0.595785  0.891839  1.882152 -0.622370
2031-01-03 -0.683741  1.437541 -0.797711 -0.034379
2031-01-04  0.767239 -1.349358 -0.925965 -0.384152
2031-01-05 -0.825114 -0.852004  0.265521  0.633665

In [12]:
df.head(2)

                   A         B         C         D
2031-01-01  0.162226  0.071008 -0.868200  0.191746
2031-01-02  0.595785  0.891839  1.882152 -0.622370

In [13]:
df.tail(2)

                   A         B         C         D
2031-01-05 -0.825114 -0.852004  0.265521  0.633665
2031-01-06 -0.036639  0.105031 -1.365430 -0.026106

In [14]:
df.index

DatetimeIndex(['2031-01-01', '2031-01-02', '2031-01-03', '2031-01-04',
               '2031-01-05', '2031-01-06'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df.index

DatetimeIndex(['2031-01-01', '2031-01-02', '2031-01-03', '2031-01-04',
               '2031-01-05', '2031-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [17]:
df.values

array([[ 0.16222615,  0.07100773, -0.86820045,  0.19174617],
       [ 0.59578459,  0.89183932,  1.88215241, -0.62236984],
       [-0.68374098,  1.43754141, -0.79771072, -0.03437893],
       [ 0.76723941, -1.34935772, -0.92596544, -0.38415185],
       [-0.82511388, -0.8520045 ,  0.26552057,  0.63366545],
       [-0.03663889,  0.10503086, -1.36542994, -0.02610641]])

In [18]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.003374  0.050676 -0.301606 -0.040266
std    0.651079  1.040120  1.198259  0.439397
min   -0.825114 -1.349358 -1.365430 -0.622370
25%   -0.521965 -0.621251 -0.911524 -0.296709
50%    0.062794  0.088019 -0.832956 -0.030243
75%    0.487395  0.695137 -0.000287  0.137283
max    0.767239  1.437541  1.882152  0.633665

In [19]:
df.T

   2031-01-01  2031-01-02  2031-01-03  2031-01-04  2031-01-05  2031-01-06
A    0.162226    0.595785   -0.683741    0.767239   -0.825114   -0.036639
B    0.071008    0.891839    1.437541   -1.349358   -0.852004    0.105031
C   -0.868200    1.882152   -0.797711   -0.925965    0.265521   -1.365430
D    0.191746   -0.622370   -0.034379   -0.384152    0.633665   -0.026106

In [20]:
df.sort_index(axis=1, ascending=False)#axis=0指的是逐行，axis=1指的是逐列。

                   D         C         B         A
2031-01-01  0.191746 -0.868200  0.071008  0.162226
2031-01-02 -0.622370  1.882152  0.891839  0.595785
2031-01-03 -0.034379 -0.797711  1.437541 -0.683741
2031-01-04 -0.384152 -0.925965 -1.349358  0.767239
2031-01-05  0.633665  0.265521 -0.852004 -0.825114
2031-01-06 -0.026106 -1.365430  0.105031 -0.036639

In [21]:
df.sort_values(by='B')

                   A         B         C         D
2031-01-04  0.767239 -1.349358 -0.925965 -0.384152
2031-01-05 -0.825114 -0.852004  0.265521  0.633665
2031-01-01  0.162226  0.071008 -0.868200  0.191746
2031-01-06 -0.036639  0.105031 -1.365430 -0.026106
2031-01-02  0.595785  0.891839  1.882152 -0.622370
2031-01-03 -0.683741  1.437541 -0.797711 -0.034379

In [22]:
df['A']

2031-01-01    0.162226
2031-01-02    0.595785
2031-01-03   -0.683741
2031-01-04    0.767239
2031-01-05   -0.825114
2031-01-06   -0.036639
Freq: D, Name: A, dtype: float64

In [23]:
df[0:3]

                   A         B         C         D
2031-01-01  0.162226  0.071008 -0.868200  0.191746
2031-01-02  0.595785  0.891839  1.882152 -0.622370
2031-01-03 -0.683741  1.437541 -0.797711 -0.034379

In [24]:
df['20310102':'20310104']

                   A         B         C         D
2031-01-02  0.595785  0.891839  1.882152 -0.622370
2031-01-03 -0.683741  1.437541 -0.797711 -0.034379
2031-01-04  0.767239 -1.349358 -0.925965 -0.384152

In [25]:
df.loc[dates[0]]

A    0.162226
B    0.071008
C   -0.868200
D    0.191746
Name: 2031-01-01 00:00:00, dtype: float64

In [26]:
df.loc[:, ['A','B']]

                   A         B
2031-01-01  0.162226  0.071008
2031-01-02  0.595785  0.891839
2031-01-03 -0.683741  1.437541
2031-01-04  0.767239 -1.349358
2031-01-05 -0.825114 -0.852004
2031-01-06 -0.036639  0.105031

In [27]:
df.loc['20310101':'20310104',['A','C']]

                   A         C
2031-01-01  0.162226 -0.868200
2031-01-02  0.595785  1.882152
2031-01-03 -0.683741 -0.797711
2031-01-04  0.767239 -0.925965

In [28]:
df.loc['20310102',['A','B']]

A    0.595785
B    0.891839
Name: 2031-01-02 00:00:00, dtype: float64

In [29]:
df.loc[dates[0],'A']

0.16222615271767915

In [30]:
df.at[dates[0],'A']

0.16222615271767915

In [31]:
df.iloc[3]

A    0.767239
B   -1.349358
C   -0.925965
D   -0.384152
Name: 2031-01-04 00:00:00, dtype: float64

In [32]:
df.iloc[3:5,0:2]

                   A         B
2031-01-04  0.767239 -1.349358
2031-01-05 -0.825114 -0.852004

In [33]:
df.iloc[1:3,:]

                   A         B         C         D
2031-01-02  0.595785  0.891839  1.882152 -0.622370
2031-01-03 -0.683741  1.437541 -0.797711 -0.034379

In [34]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2031-01-02  0.595785  1.882152
2031-01-03 -0.683741 -0.797711
2031-01-05 -0.825114  0.265521

In [35]:
df.iloc[1:3,:]

                   A         B         C         D
2031-01-02  0.595785  0.891839  1.882152 -0.622370
2031-01-03 -0.683741  1.437541 -0.797711 -0.034379

In [36]:
df.iloc[1:3,:]

                   A         B         C         D
2031-01-02  0.595785  0.891839  1.882152 -0.622370
2031-01-03 -0.683741  1.437541 -0.797711 -0.034379

In [37]:
df.iloc[:,1:3]

                   B         C
2031-01-01  0.071008 -0.868200
2031-01-02  0.891839  1.882152
2031-01-03  1.437541 -0.797711
2031-01-04 -1.349358 -0.925965
2031-01-05 -0.852004  0.265521
2031-01-06  0.105031 -1.365430

In [38]:
df.iloc[1,1]

0.8918393239193134

In [39]:
df.iat[1,1]

0.8918393239193134

In [40]:
df[df.A > 0]

                   A         B         C         D
2031-01-01  0.162226  0.071008 -0.868200  0.191746
2031-01-02  0.595785  0.891839  1.882152 -0.622370
2031-01-04  0.767239 -1.349358 -0.925965 -0.384152

In [41]:
df[df>0]

                   A         B         C         D
2031-01-01  0.162226  0.071008       NaN  0.191746
2031-01-02  0.595785  0.891839  1.882152       NaN
2031-01-03       NaN  1.437541       NaN       NaN
2031-01-04  0.767239       NaN       NaN       NaN
2031-01-05       NaN       NaN  0.265521  0.633665
2031-01-06       NaN  0.105031       NaN       NaN

In [42]:
df2 = df.copy()
df2['E'] = ['one','one','two','three','four','three']

In [43]:
df2

                   A         B         C         D      E
2031-01-01  0.162226  0.071008 -0.868200  0.191746    one
2031-01-02  0.595785  0.891839  1.882152 -0.622370    one
2031-01-03 -0.683741  1.437541 -0.797711 -0.034379    two
2031-01-04  0.767239 -1.349358 -0.925965 -0.384152  three
2031-01-05 -0.825114 -0.852004  0.265521  0.633665   four
2031-01-06 -0.036639  0.105031 -1.365430 -0.026106  three

In [44]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2031-01-03 -0.683741  1.437541 -0.797711 -0.034379   two
2031-01-05 -0.825114 -0.852004  0.265521  0.633665  four

In [45]:
s1= pd.Series([1,2,3,4,5,6],index=pd.date_range('20310102',periods=6))

In [46]:
s1

2031-01-02    1
2031-01-03    2
2031-01-04    3
2031-01-05    4
2031-01-06    5
2031-01-07    6
Freq: D, dtype: int64

In [47]:
s1

2031-01-02    1
2031-01-03    2
2031-01-04    3
2031-01-05    4
2031-01-06    5
2031-01-07    6
Freq: D, dtype: int64

In [48]:
df['F'] = s1

In [49]:
df

                   A         B         C         D    F
2031-01-01  0.162226  0.071008 -0.868200  0.191746  NaN
2031-01-02  0.595785  0.891839  1.882152 -0.622370  1.0
2031-01-03 -0.683741  1.437541 -0.797711 -0.034379  2.0
2031-01-04  0.767239 -1.349358 -0.925965 -0.384152  3.0
2031-01-05 -0.825114 -0.852004  0.265521  0.633665  4.0
2031-01-06 -0.036639  0.105031 -1.365430 -0.026106  5.0

In [50]:
df.at[dates[0],'A'] = 0

In [51]:
df

                   A         B         C         D    F
2031-01-01  0.000000  0.071008 -0.868200  0.191746  NaN
2031-01-02  0.595785  0.891839  1.882152 -0.622370  1.0
2031-01-03 -0.683741  1.437541 -0.797711 -0.034379  2.0
2031-01-04  0.767239 -1.349358 -0.925965 -0.384152  3.0
2031-01-05 -0.825114 -0.852004  0.265521  0.633665  4.0
2031-01-06 -0.036639  0.105031 -1.365430 -0.026106  5.0

In [52]:
df.iat[0,1] = 0

In [53]:
df

                   A         B         C         D    F
2031-01-01  0.000000  0.000000 -0.868200  0.191746  NaN
2031-01-02  0.595785  0.891839  1.882152 -0.622370  1.0
2031-01-03 -0.683741  1.437541 -0.797711 -0.034379  2.0
2031-01-04  0.767239 -1.349358 -0.925965 -0.384152  3.0
2031-01-05 -0.825114 -0.852004  0.265521  0.633665  4.0
2031-01-06 -0.036639  0.105031 -1.365430 -0.026106  5.0

In [54]:
df.loc[:,'D'] = np.array([5]*len(df))

In [55]:
df

                   A         B         C  D    F
2031-01-01  0.000000  0.000000 -0.868200  5  NaN
2031-01-02  0.595785  0.891839  1.882152  5  1.0
2031-01-03 -0.683741  1.437541 -0.797711  5  2.0
2031-01-04  0.767239 -1.349358 -0.925965  5  3.0
2031-01-05 -0.825114 -0.852004  0.265521  5  4.0
2031-01-06 -0.036639  0.105031 -1.365430  5  5.0

In [56]:
[5]*4

[5, 5, 5, 5]

In [57]:
len(df)

6

In [58]:
[5] * 10

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

In [59]:
df2 = df.copy()

In [60]:
df2[df2>0] = -df

In [61]:
df2

                   A         B         C  D    F
2031-01-01  0.000000  0.000000 -0.868200 -5  NaN
2031-01-02 -0.595785 -0.891839 -1.882152 -5 -1.0
2031-01-03 -0.683741 -1.437541 -0.797711 -5 -2.0
2031-01-04 -0.767239 -1.349358 -0.925965 -5 -3.0
2031-01-05 -0.825114 -0.852004 -0.265521 -5 -4.0
2031-01-06 -0.036639 -0.105031 -1.365430 -5 -5.0

In [62]:
df2

                   A         B         C  D    F
2031-01-01  0.000000  0.000000 -0.868200 -5  NaN
2031-01-02 -0.595785 -0.891839 -1.882152 -5 -1.0
2031-01-03 -0.683741 -1.437541 -0.797711 -5 -2.0
2031-01-04 -0.767239 -1.349358 -0.925965 -5 -3.0
2031-01-05 -0.825114 -0.852004 -0.265521 -5 -4.0
2031-01-06 -0.036639 -0.105031 -1.365430 -5 -5.0

In [63]:
df1 = df.reindex(index=dates[0:4],columns=list(df.columns)+['E'])

In [64]:
df1

                   A         B         C  D    F   E
2031-01-01  0.000000  0.000000 -0.868200  5  NaN NaN
2031-01-02  0.595785  0.891839  1.882152  5  1.0 NaN
2031-01-03 -0.683741  1.437541 -0.797711  5  2.0 NaN
2031-01-04  0.767239 -1.349358 -0.925965  5  3.0 NaN

In [65]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [66]:
df1

                   A         B         C  D    F    E
2031-01-01  0.000000  0.000000 -0.868200  5  NaN  1.0
2031-01-02  0.595785  0.891839  1.882152  5  1.0  1.0
2031-01-03 -0.683741  1.437541 -0.797711  5  2.0  NaN
2031-01-04  0.767239 -1.349358 -0.925965  5  3.0  NaN

In [67]:
df1.dropna(how='any')

                   A         B         C  D    F    E
2031-01-02  0.595785  0.891839  1.882152  5  1.0  1.0

In [68]:
df1

                   A         B         C  D    F    E
2031-01-01  0.000000  0.000000 -0.868200  5  NaN  1.0
2031-01-02  0.595785  0.891839  1.882152  5  1.0  1.0
2031-01-03 -0.683741  1.437541 -0.797711  5  2.0  NaN
2031-01-04  0.767239 -1.349358 -0.925965  5  3.0  NaN

In [69]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2031-01-01  0.000000  0.000000 -0.868200  5  5.0  1.0
2031-01-02  0.595785  0.891839  1.882152  5  1.0  1.0
2031-01-03 -0.683741  1.437541 -0.797711  5  2.0  5.0
2031-01-04  0.767239 -1.349358 -0.925965  5  3.0  5.0

In [70]:
df1

                   A         B         C  D    F    E
2031-01-01  0.000000  0.000000 -0.868200  5  NaN  1.0
2031-01-02  0.595785  0.891839  1.882152  5  1.0  1.0
2031-01-03 -0.683741  1.437541 -0.797711  5  2.0  NaN
2031-01-04  0.767239 -1.349358 -0.925965  5  3.0  NaN

In [71]:
pd.isna(df1)

                A      B      C      D      F      E
2031-01-01  False  False  False  False   True  False
2031-01-02  False  False  False  False  False  False
2031-01-03  False  False  False  False  False   True
2031-01-04  False  False  False  False  False   True

In [72]:
df.mean()

A   -0.030412
B    0.038842
C   -0.301606
D    5.000000
F    3.000000
dtype: float64

In [73]:
df.mean(1)

2031-01-01    1.032950
2031-01-02    1.873955
2031-01-03    1.391218
2031-01-04    1.298383
2031-01-05    1.517680
2031-01-06    1.740592
Freq: D, dtype: float64

In [74]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates);s

2031-01-01    1.0
2031-01-02    3.0
2031-01-03    5.0
2031-01-04    NaN
2031-01-05    6.0
2031-01-06    8.0
Freq: D, dtype: float64

In [75]:
s.shift(2)

2031-01-01    NaN
2031-01-02    NaN
2031-01-03    1.0
2031-01-04    3.0
2031-01-05    5.0
2031-01-06    NaN
Freq: D, dtype: float64

In [76]:
df.sub(s,axis='index')

                   A         B         C    D    F
2031-01-01 -1.000000 -1.000000 -1.868200  4.0  NaN
2031-01-02 -2.404215 -2.108161 -1.117848  2.0 -2.0
2031-01-03 -5.683741 -3.562459 -5.797711  0.0 -3.0
2031-01-04       NaN       NaN       NaN  NaN  NaN
2031-01-05 -6.825114 -6.852004 -5.734479 -1.0 -2.0
2031-01-06 -8.036639 -7.894969 -9.365430 -3.0 -3.0

In [77]:
df

                   A         B         C  D    F
2031-01-01  0.000000  0.000000 -0.868200  5  NaN
2031-01-02  0.595785  0.891839  1.882152  5  1.0
2031-01-03 -0.683741  1.437541 -0.797711  5  2.0
2031-01-04  0.767239 -1.349358 -0.925965  5  3.0
2031-01-05 -0.825114 -0.852004  0.265521  5  4.0
2031-01-06 -0.036639  0.105031 -1.365430  5  5.0

In [78]:
s

2031-01-01    1.0
2031-01-02    3.0
2031-01-03    5.0
2031-01-04    NaN
2031-01-05    6.0
2031-01-06    8.0
Freq: D, dtype: float64

In [79]:
df.apply(np.cumsum,axis=1)

                   A         B         C         D         F
2031-01-01  0.000000  0.000000 -0.868200  4.131800       NaN
2031-01-02  0.595785  1.487624  3.369776  8.369776  9.369776
2031-01-03 -0.683741  0.753800 -0.043910  4.956090  6.956090
2031-01-04  0.767239 -0.582118 -1.508084  3.491916  6.491916
2031-01-05 -0.825114 -1.677118 -1.411598  3.588402  7.588402
2031-01-06 -0.036639  0.068392 -1.297038  3.702962  8.702962

In [80]:
df.apply(lambda x: x.max() - x.min(),axis=0)

A    1.592353
B    2.786899
C    3.247582
D    0.000000
F    4.000000
dtype: float64

In [81]:
s = pd.Series(np.random.randint(0,7,size=10))

In [82]:
s

0    5
1    5
2    4
3    3
4    5
5    6
6    1
7    1
8    5
9    6
dtype: int64

In [83]:
s.value_counts()

5    4
6    2
1    2
4    1
3    1
dtype: int64

In [84]:
s = pd.Series(['A','B'])
s.str.lower()

0    a
1    b
dtype: object

In [85]:
s

0    A
1    B
dtype: object

In [86]:
s.str.upper()

0    A
1    B
dtype: object

In [87]:
s

0    A
1    B
dtype: object

In [88]:
df = pd.DataFrame(np.random.randn(10,4))

In [89]:
pieces = [df[:3], df[3:7],df[7:]]

In [90]:
pd.concat(pieces)

          0         1         2         3
0 -0.635541  1.143112 -0.553710  0.340788
1  0.635135 -0.593026  0.079188  0.852935
2  0.518845 -1.285389 -0.597875  0.998888
3  0.408428  0.446562  0.738111  2.325124
4 -1.695597  0.441437  0.240469 -0.516622
5  1.601261 -1.399657 -1.582180  0.430264
6  1.107352  1.917186  0.466153 -1.868374
7 -0.140496 -0.820322  0.323901  1.043958
8 -0.660664 -0.260599  0.307823 -0.558922
9 -0.172883 -0.281366  0.968689 -1.204254

In [91]:
left = pd