# 朴素贝叶斯分类

In [1]:
# 加载库
%matplotlib inline
import os
import numpy as np
from scipy import stats
import pandas as pd
import sklearn.model_selection as cross_validation
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

In [2]:
# 加载数据
orgData = pd.read_csv('data/date_data2.csv')
orgData.head()
X = orgData.iloc[:, :4]
y = orgData['Dated']

In [3]:
X.head()

   income  attractive     assets  edueduclass
0    3000         9.0   5.145476            1
1    3000        14.5  40.643781            4
2    3000         6.0   5.145476            1
3    3000         1.0   7.067434            1
4    3500        14.5   3.728400            2

In [4]:
y.head()

0    0
1    1
2    0
3    0
4    0
Name: Dated, dtype: int64

In [5]:
orgData1 = orgData.iloc[:, -3:] # 连续型变量离散化

In [6]:
orgData1.head()
orgData1.dtypes

income_rank        int64
attractive_rank    int64
assets_rank        int64
dtype: object

In [7]:
orgData1.income_rank = orgData1.income_rank.astype('category') #将连续变量分段
orgData1.describe(include='all')

        income_rank  attractive_rank  assets_rank
count         100.0       100.000000   100.000000
unique          4.0              NaN          NaN
top             3.0              NaN          NaN
freq           28.0              NaN          NaN
mean            NaN         1.560000     1.510000
std             NaN         1.103896     1.123621
min             NaN         0.000000     0.000000
25%             NaN         1.000000     0.750000
50%             NaN         2.000000     2.000000
75%             NaN         2.250000     2.250000
max             NaN         3.000000     3.000000

In [8]:
train_data1, test_data1, train_target1, test_target1 = cross_validation.train_test_split(
    orgData1, y, test_size=0.3, train_size=0.7, random_state=123)

## 朴素贝叶斯以及三种常见模型推导
https://www.jianshu.com/p/b6cadf53b8b8

In [9]:
# 建模
from sklearn.naive_bayes import BernoulliNB
NB = BernoulliNB(alpha=1) #alpha：浮点型，可选项，默认1.0，添加拉普拉修/Lidstone平滑参数
NB.fit(train_data1, train_target1)
test_est1 = NB.predict(test_data1)

In [10]:
BernoulliNB?
# 文档字符串：
# 用于多变量伯努利模型的朴素贝叶斯分类器。

# 与MultinomialNB一样，该分类器适用于离散数据。该
# 不同之处在于MultinomialNB与出现次数一起工作，
# BernoulliNB专为二进制/布尔功能而设计。

In [11]:
print(test_est1)

[0 1 1 1 1 0 0 1 1 0 0 1 1 1 0 1 1 1 1 1 1 1 0 1 0 1 1 0 1 1]

In [12]:
# 验证
from sklearn import metrics
print(metrics.classification_report(test_target1, test_est1))

              precision    recall  f1-score   support

           0       0.89      0.57      0.70        14
           1       0.71      0.94      0.81        16

   micro avg       0.77      0.77      0.77        30
   macro avg       0.80      0.75      0.75        30
weighted avg       0.80      0.77      0.76        30

In [13]:
#评分
NB.score(train_data1, train_target1)

0.7571428571428571